.edit-container {
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
}
.edit-container input{
    border: none;
    border: 1px solid #444;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 70%;
}
.textarea{
    padding: 10px 0 0 10px;
    border: none;
    outline: none;
    border: 1px solid #444;
    border-radius: 8px;
    width: 70% !important;
}
.edit-container input::placeholder{
    text-transform: capitalize;
}
.edit-container input:not(:last-child){
    margin-bottom: 10px;
}
input , textarea{
    background-color: transparent;
}
.cancel{
    margin-left: 10px;
    background-color: hsl(0, 100%, 50%);
}